html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.main {
    padding: 60px 30px 30px 30px;
    flex: 1 1 auto;
}

.footer {
    background-color: #CDBBA7;
    padding: 20px;
    text-align: center;
}

.footer p {
    color: #FFFFFF;
}

.fullscreen_menu a {
    display: inline-flex;
    color: #FFFFFF;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    z-index: 0;
}

.fullscreen_menu a:hover {
    color: #FDEFEF;
}

body {
    background-color: #FDEFEF;
}

.header__logo1 {
    position: absolute;
    top: 15px;
    left: 22px;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 40% 100%);
    height: 30px;
    width: 30px;
    background: linear-gradient(to top right, #01FFFF, #00B8EA);
    z-index: 101;
}

.header__logo2 {
    position: absolute;
    top: 15px;
    left: 22px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    height: 30px;
    width: 40px;
    background: #8c92ac;
    opacity: 50;
    z-index: 100;
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: #CDBBA7;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 99;
}

.mobile-menu__btn {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
}

.mobile-menu__icon {
    display: block;
    position: relative;
    background: #FFFFFF;
    width: 90%;
    height: 4px;
    transition: .4s;
}

.mobile-menu__icon::after,
.mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: .4s;
}

.mobile-menu__icon::after {
    top: 8px;
}

.mobile-menu__icon::before {
    top: -8px;
}

.mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 98;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color: #CDBBA7;
}

.mobile-menu__list {
    transition: .5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
}

.mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
}

.mobile-menu__link {
    text-decoration: none;
    color: #ffffff;
}

.mobile-menu__link:hover {
    color: #FDEFEF;
}

.mobile-menu__checkbox {
    display: none;
}

.mobile-menu__checkbox:checked~.mobile-menu__nav {
    opacity: 1;
}

.mobile-menu__checkbox:checked~.mobile-menu__container {
    height: 100%;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon {
    background: transparent;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

h1 {
    text-align: center;
    padding-top: 60px;
}

.grid__index {
    align-items: center;
    padding: 5%;
    row-gap: 2%;
    column-gap: 1.3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid__index__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__index p {
    text-align: center;
    font-size: 2em;
}

.grid__index__item__1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid__index__item__2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid__index__item__3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid__index__item__4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid__index__item__5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid__index__item__6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gallery {
    align-items: center;
    padding: 5%;
    row-gap: 2%;
    column-gap: 1.3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item__1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item__2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item__3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item__4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery__item__5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery__item__6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.personel {
    align-items: center;
    padding: 5%;
    row-gap: 2%;
    column-gap: 1.3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.personel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personel__item__1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.personel__item__2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.personel__item__3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.personel__item__4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media (max-width: 760px) {
    .mobile-menu__btn {
        display: flex;
    }
    .fullscreen_menu {
        display: none;
    }
}

.container_panda {
    width: 200px;
    height: 200px;
    background-color: #e4e4e4;
    position: absolute;
    margin: auto;
    left: 110px;
    top: 300px;
}

.ear {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: radial-gradient( #ffffff, #a8a2a4, #9b9597);
    border-radius: 50%;
}

.ear.right {
    transform: translateX(110px);
}

.head {
    position: absolute;
    top: 15px;
    left: 22px;
    width: 150px;
    height: 150px;
    background: radial-gradient(at 50% 66%, #ffffff, #f4e319, #f4e319);
    border-radius: 50%;
    border: 3px solid #a8a2a4;
}

.eye {
    position: absolute;
    top: 40px;
    left: 20px;
    background: #585856;
    width: 40px;
    height: 65px;
    border-radius: 50%;
    transform: rotate(30deg);
}

.eye.right {
    transform: translateX(65px) scaleX(-1) rotate(30deg);
}

.eyeball {
    position: absolute;
    top: 13px;
    left: 10px;
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.pupil {
    position: absolute;
    top: 1px;
    left: 5px;
    background: #585856;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.nose {
    position: absolute;
    top: 90px;
    left: 60px;
    background: linear-gradient(0.25turn, #777777, #202020, #777777);
    width: 25px;
    height: 13px;
    border-radius: 100%;
}

.mouth {
    position: absolute;
    top: 72px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000000;
    clip-path: inset(25px 0px 0px 25px);
}

.mouth.right {
    transform: translateX(52px) scaleX(-1);
}

.tie {
    position: absolute;
    top: 146px;
    left: 43px;
    width: 25px;
    height: 25px;
    transform: rotate(-45deg);
    border-radius: 400% 200% 0 200%;
    background: #f80e19;
}

.tie.right {
    transform: translateX(34px) rotate(45deg) scaleX(-1);
}

.container_gun {
    display: flex;
    top: 5px;
    left: 30px;
    width: 400px;
    height: 150px;
    background-color: #e4e4e4;
    position: relative;
    margin: 50px;
    overflow: hidden;
}

.gun {
    position: relative;
    background: url(img/mini-gun6.png);
    width: 186px;
    height: 103px;
    top: 30px;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom left;
    transform: rotate(15deg);
}

.container_gun:hover .gun {
    transform: rotate(0deg);
}

.container_gun:active .gun {
    transition: 0s linear;
    background: url(img/mini-gun3.png);
    background-repeat: no-repeat;
}

.container_gun:active {
    animation: shake-up-down 1s;
}

@keyframes shake-up-down {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(0px, 8px);
    }
    20% {
        transform: translate(0px, 0px);
    }
    30% {
        transform: translate(0px, 8px);
    }
    40% {
        transform: translate(0px, 0px);
    }
}

.text1 {
    position: relative;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #313131;
    display: none;
    margin-top: 1%;
}

.text2 {
    position: relative;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    display: none;
    margin-top: 1%;
}

.container_gun:hover .text1 {
    display: block;
}

.container_gun:active .text2 {
    display: block;
}

.container_gun:active .text1 {
    display: none;
}

.bullet {
    position: relative;
    background: url(img/mini-gun5.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 37px;
    top: 5px;
    left: 115px;
    opacity: 0%;
    align-self: flex-end;
}

.container_gun:active .bullet {
    opacity: 100%;
    animation: shot 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes shot {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(500px);
    }
}